@charset "UTF-8";

/* 回答はここに書いてね */


.q2__box{
width: 900px;
margin: 0 auto;
padding: 20px ;
background-color: #ecf1f2
}

.q2__thumb.is-left{
  float: left;
  margin-right: 20px;
}
/* 左に並べたあと余白を右から指定 */

.q2__thumb.is-right{
  float: right;
  margin-left:20px;
}

.q2__text{
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
  /* 文字詰め優先。単語の途中でも改行される */
}

.q2__thumb{
  margin-bottom: 10px;
}

.q2__thumb > img {
  vertical-align: bottom;
}


/* 回答はここに書いてね */
