@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.q7__box {
  width:225px;
}
.float {
  margin-left: 50px;
  box-sizing: border-box;
  float: left;
  font-size: 16px;
}
.float:first-child {
  margin-left: 0;
}

.table-center
,.table-centertext {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}
.table-center:first-child {
  padding-left: 0;
}

.inline-block {
  font-size: 16px;
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}
.inline-block:first-child {
  margin-left: 0;
}
.zero {
  font-size: 0;
}


.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flexbox {
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}
.flexbox:first-child {
  margin-left: 0;
}


.inline {
  box-sizing: border-box;
  width:100%;
  font-size: 0;
}
.fixed {
    display: inline-block;
    width: 300px;
}
.move {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}
.both {
  vertical-align: top;
}
.both:first-child {
  margin-left: 0;
}
.font {
  font-size: 16px;
}







/* 回答はここに書いてね */
