@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q7 .q7__box{
  width:225px;
}
.q7--float .q7__box{
  margin-left: 50px;
  box-sizing: border-box;
  float: left;
  font-size: 16px;
}
.q7--float .q7__box:first-child {
  margin-left: 0;
}
/* 各q7__boxにmargin50pxを指定した後
1stの項目のみmargin0pxで相殺 */

.q7--table .q7__inner{
  display: table;
}
.q7--table .q7__box{
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}
.q7--table .q7__box:first-child{
  padding-left: 0;
}


.q7--inlineblock .q7__box{
  font-size: 16px;
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}
.q7--inlineblock .q7__box:first-child {
  margin-left: 0;
}
.q7--inlineblock .q7__inner {
  font-size: 0;
}

.q7--flex .q7__inner{
  display: flex;
}
/* 回答はここに書いてね */
