@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.balloon {
  position: relative;
  border: 5px solid #222;
  border-radius: 30px;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.ballon:before,
.ballon:after{
  width: 0px;
  height: 0px;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 147px; left: 46px;
  margin-left: -20px;
  border-style: solid;
  border-width: 24px 24px 0 24px;
  border-color: #fff transparent transparent transparent;
  z-index: 0;
}
.balloon:after {
  border-style: solid;
  border-width: 25px 25px 0px 25px;
  border-color: #000000 transparent transparent transparent;
  content: "";
  position: absolute;
  top: 153px; left: 25px;
  z-index: -1;
}