@charset "UTF-8";

/* 回答はここに書いてね */
/* 新しいクラスを作ってtableとflexの見た目を合わせる */

/* q6-1のtext設定 */
.q6__box__text {
  width: 90px;
  background-color: #e6f2ff;
  padding:10px 0;
}
/* textallainの設定 */
.q6__textalign {
  text-align: center;
}
.is-inline {
  display: inline-block;
}

/* textallainの設定 */

/* marginの設定 */
.is-margin {
  margin: 0 auto;
}
/* marginの設定 */


/* tebleのプロパティ */
/* q6-2のtext設定 */
.is-black {
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.q6__box__text__table {
  display: inline-block;
}
/* inline-brock
margin heightが指定可能になる
paddingで余白が指定できる
vertical-alignが使用可能 */

.is-table {
  display: table;
}
/*tableをつけるとtdとなりtextallain verticalallain(上下中央揃え)が使用可能になる */
.q6__around__box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* 中央寄せしたいテキストの要素に
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  を指示する */
/* tebleのプロパティ */

/* flexのプロパティ */
.is-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* align-items 縦方向に要素をどう揃えるかの指定
justify-content 要素が複数ある時にどの様に揃えるか */
/* flexのプロパティ */


/* position固定のプロパティ */
/* .q6--position .q6__box {
  position: relative;
} */

.relative {
  position: relative;
}

.q6__absolute {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* pxで入力して絶対値を指定した場合、そこから空白が発生する。
値をautoにして絶対値を全て0で指定すると、座標は等しい値になる様に計算される。 */

/* position可変のプロパティ */
.q6__flexible {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
/* 座標を半分させてそこから更に半分戻すと中央に配置される */
/* maegin height指定不要 */
/* position可変のプロパティ */



/* 回答はここに書いてね */
